{% extends 'base.html' %}

{% block content %}

<header class="head1 md:h-screen  mb-16">
  

    <section class="feature px-12">

      <div class="container flex  justify-center items-center gap-4">

        <div class="sm:w-1/2">
          <img class="" src="/static/assets/images/3682361.jpg" alt="" class="" width="">
        </div>

        <div class="flex flex-col items-center gap-5">
          <h1 class="font-bold text-4xl">Hamroh Taxi</h1>
          <p class="fs-6 my-sm-3 text-center w-3/4">Lorem ipsum dolor sit amet, consectetur adip iscing elit. Pelle
            ntesque
            placerat leo odio.</p>
          <a href="/signin.html" class="btn bg-indigo-900 text-white text-lg px-5 py-2 rounded font-bold">Hamroh
            izlash</a>
        </div>
      </div>

    </section>
  </header>

  <section class="elonlar md:h-3/4  flex flex-col items-center gap-5 px-5 my-8">
    <h2 class="text-3xl font-semibold m-0">Elonlar</h2>
    <div class="container flex justify-evenly w-full gap-4">

      <div class="flex flex-col  items-end justify-center bg-slate-50 p-4 rounded bg-light shadow-lg mx-3">

        <div class="flex justify-start w-full">
          <div class="d-flex flex-column gap-3 px-3 py-4">

            <div class="flex flex-row justify-start items-center">
              <i class="bi bi-person-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Ismi:</p>
                <p class="attendant-value my-0">Doniyor</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-geo-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Jo'nalish:</p>
                <p class="attendant-value my-0">Gurlan - Urganch</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-clock-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Ketish vaqti:</p>
                <p class="attendant-value my-0">8:00</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-people-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Hamrohlar soni:</p>
                <p class="attendant-value my-0">3 ta</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-map-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Mahallla:</p>
                <p class="attendant-value my-0">Botirlar</p>
              </div>
            </div>
          </div>
        </div>

        <a href="#" role="button" class="btn bg-indigo-900 text-white text-sm font-semibold rounded py-2 px-5">Hamroh
          bo'lish</a>
      </div>

      <div class="flex flex-col  items-end justify-center bg-slate-50 p-4 rounded bg-light shadow-lg mx-3">

        <div class="flex justify-start w-full">
          <div class="d-flex flex-column gap-3 px-3 py-4">

            <div class="flex flex-row justify-start items-center">
              <i class="bi bi-person-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Ismi:</p>
                <p class="attendant-value my-0">Doniyor</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-geo-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Jo'nalish:</p>
                <p class="attendant-value my-0">Gurlan - Urganch</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-clock-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Ketish vaqti:</p>
                <p class="attendant-value my-0">8:00</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-people-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Hamrohlar soni:</p>
                <p class="attendant-value my-0">3 ta</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-map-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Mahallla:</p>
                <p class="attendant-value my-0">Botirlar</p>
              </div>
            </div>
          </div>
        </div>

        <a href="#" role="button" class="btn bg-indigo-900 text-white text-sm font-semibold rounded py-2 px-5">Hamroh
          bo'lish</a>
      </div>

      <div class="flex flex-col  items-end justify-center bg-slate-50 p-4 rounded bg-light shadow-lg mx-3">

        <div class="flex justify-start w-full">
          <div class="d-flex flex-column gap-3 px-3 py-4">

            <div class="flex flex-row justify-start items-center">
              <i class="bi bi-person-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Ismi:</p>
                <p class="attendant-value my-0">Doniyor</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-geo-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Jo'nalish:</p>
                <p class="attendant-value my-0">Gurlan - Urganch</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-clock-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Ketish vaqti:</p>
                <p class="attendant-value my-0">8:00</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-people-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Hamrohlar soni:</p>
                <p class="attendant-value my-0">3 ta</p>
              </div>
            </div>
            <div class="flex flex-row items-center justify-start">
              <i class="bi bi-map-fill"></i>
              <div class="flex items-center justify-center">
                <p class="font-bold mx-2 my-0">Mahallla:</p>
                <p class="attendant-value my-0">Botirlar</p>
              </div>
            </div>
          </div>
        </div>

        <a href="#" role="button" class="btn bg-indigo-900 text-white text-sm font-semibold rounded py-2 px-5">Hamroh
          bo'lish</a>
      </div>

    </div>
    <a href="./ads.html" role="button" class="btn bg-indigo-900 text-white font-semibold py-2 px-5 rounded">Ko'proq
      e'lonlar</a>
  </section>

  <section class="about md:h-screen flex flex-col  justify-center items-center xl:w-3/4-a px-8">
    <div class="container flex justify-center items-center px-8 pb-5 bg-slate-50 rounded shadow-lg">
      <div class="main-img">
        <img src="/static/assets/images/about-img.png" alt="" class="img-fluid">
      </div>
      <div class="about-info flex flex-col items-center gap-3">
        <p class="text-3xl font-semibold">Biz haqimizda</p>
        <p class="text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nesciunt necessitatibus
          autem?
          Ducimus quibusdam ab, voluptas odit velit quae fuga alias eveniet harum. Rem nihil quidem harum quam repellat
          optio?</p>
        <div class="flex gap-3 p-3">
          <a href="" class=""><i class="bi bi-instagram text-xl"></i></a>
          <a href="" class=""><i class="bi bi-telegram text-xl"></i></a>
          <a href="" class=""><i class="bi bi-youtube text-xl"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="our-team md:h-[90%] flex flex-col items-center justify-center">

    <div class="container flex flex-col items-center gap-5 my-5">
      <p class="text-3xl font-semibold m-0">Bizning jamoa</p>
      <div class="team-members flex gap-5 flex-sm-row">
        <div class="flex flex-col items-center p-5 rounded bg-slate-50 w-full shadow mx-3">
          <img src="/static/assets/images/Web design.png" alt="">
          <p class="text-xl font-semibold m-0">UI/UX Design</p>
          <p class="fs-5 m-0">Saad Takhir</p>
          <div class="flex gap-3 p-3">
            <a href="" class=""><i class="bi bi-instagram text-xl"></i></a>
            <a href="" class=""><i class="bi bi-telegram text-xl"></i></a>
            <a href="" class=""><i class="bi bi-youtube text-xl"></i></a>
          </div>
        </div>
        <div class="flex flex-col items-center p-5 rounded bg-slate-50 w-full shadow mx-3">
          <img src="/static/assets/images/Web design.png" alt="">
          <p class="text-xl font-semibold m-0">Frontend Dev</p>
          <p class="fs-5 m-0">Mirzohid</p>
          <div class="flex gap-3 p-3">
            <a href="" class=""><i class="bi bi-instagram text-xl"></i></a>
            <a href="" class=""><i class="bi bi-telegram text-xl"></i></a>
            <a href="" class=""><i class="bi bi-youtube text-xl"></i></a>
          </div>
        </div>
        <div class="flex flex-col items-center p-5 rounded bg-slate-50 w-full shadow mx-3">
          <img src="/static/assets/images/Web design.png" alt="">
          <p class="text-xl font-semibold m-0">Backend Dev</p>
          <p class="fs-5 m-0">Doniyor</p>
          <div class="flex gap-3 p-3">
            <a href="" class=""><i class="bi bi-instagram text-xl"></i></a>
            <a href="" class=""><i class="bi bi-telegram text-xl"></i></a>
            <a href="" class=""><i class="bi bi-youtube text-xl"></i></a>
          </div>
        </div>
      </div>
      <a href="#" role="button" class="btn bg-indigo-900 text-white rounded font-semibold py-2 px-5">Batafsil</a>
    </div>

  </section>

  <section class="contac-us md:h-screen px-8 flex justify-center">

    <div class="container inline-flex flex-col md:flex-row items-center p-5 gap-5 bg-slate-50 rounded shadow my-5"
      style="width: fit-content !important;">
      <div class="inline-flex flex-col gap-4 p-5 rounded">
        <p class="text-2xl font-semibold text-center">Biz bilan bog'lanish</p>
        <form>
          <div class="mb-3">
            <label for="name" class="font-semibold">Ism:</label>
            <input type="text" class="form-control rounded w-full px-3 py-1" placeholder="John Doe"
              aria-label="First name">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="font-semibold">Email:</label>
            <input type="email" class="form-control rounded w-full px-3 py-1" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="example@example.com">
          </div>
          <div class="">
            <textarea class="form-control rounded w-full px-3 py-1" placeholder="Murojaatingizni yozing..."
              id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2"></label>
          </div>
          <button type="submit" class="btn text-white rounded bg-indigo-900 py-1 px-3">Submit</button>
        </form>
      </div>
      <div class="img-fluid">
        <img src="/static/assets/images/12982910_5124556-removebg-preview.png" alt="" width="500px">
      </div>
    </div>

  </section>

{% endblock %}